Navbar.css

.navbar {
    /* font-family: Arial, sans-serif; */
    font-family: "Quicksand", serif;
    /* font-family: Arial, Helvetica, sans-serif; */

  }
  
  .navbar-top {
    display: flex;
    justify-content:end;
    background-color: #40476D;
    color: white;
    /* padding: 15px 30px; */
    font-size: 20px;
    height: 50px;
  }
  
  .navbar-certification {
    font-weight: bold;
    margin-left: 90px;
    /* font-size: 40px; */
    color: white;
  }
  
  .navbar-contact span {
    cursor: pointer;
    /* padding-top: 20px; */
    margin-right: 15px ;
    /* font-weight: bold; */
    text-decoration:none;
    color: white;
    font-size: 16px;
  }
  /* .navbar-contact span:hover {
    text-decoration: underline;
  } */
  
  .navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  /* .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #007eb5;
  } */
  
  .navbar-search {
    display: flex;
    align-items: center;
    /* width: auto; */
  }
  
  .search-input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 400px;
    height: 40px;
  }
  
  .search-button {
    background-color: #40476D;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 20px;
    width: auto;
    height: 40px;
  }
  
  .navbar-questions {
    text-align: right;
    font-size: 14px;
    justify-content: space-between;
  }
  
  .email-link {
    color: #40476D;
    text-decoration: none;
    margin-right: 40px;
    margin-left: 30px;
  }
  
  .navbar-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 20px;
    background-color: #40476D;
    font-size: 14px;
    font-weight: bold;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: black;
  }
  
  .navbar-links span {
    color: #ddd;
  }
  