/* Main Layout */
.main-layout {
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    background: #7C444F !important;
}

.sidebar-header {
    height: 50px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


  

/* Sidebar Menu */
.sidebar-menu {
    background: #7C444F;
}

.sidebar-menu .ant-menu-item {
    color: #F5F5F5; /* Sidebar text color */
}

.sidebar-menu .ant-menu-item:hover {
    background: #9F5255 !important;
}

.sidebar-menu .ant-menu-item-selected {
    background:#F39E60 !important;
    color: white !important;
}

/* Header */
.header {
    padding: 0 16px;
    background: #F39E60;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 20px;
}

.header-actions {
    padding: 10px 20px;
}

/* Content */
.content {
    margin: 24px 16px;
    padding: 24px;
    background: #fff;
}
